body {

    font-family: scandia-web, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
    padding: 0 7rem;
}

.liSpace {
    column-count: 2;
}

@media (max-width: 1279px) {

    body {
        padding: 0 0;
    }

}
